<a href="/drivers">
Drivers
</a>

<div>
  <div>
    <h1>
      List of all teams
    </h1>
  </div>
</div>

<hr>



<hr>
<div>
  <div>
    <table>
      <tr>
      

        <th>
          Championships
        </th>

        <th>
          Bio
        </th>

        <th>
          Manufacturer
        </th>

        <th>
          Name
        </th>

        <th>
          Number of Cars
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_teams.each do |a_team| %>
      <tr>
      

        <td>
          <%= a_team.championships %>
        </td>

        <td>
          <%= a_team.bio %>
        </td>

        <td>
          <%= a_team.manufacturer_id %>
        </td>

        <td>
          <%= a_team.name %>
        </td>

        <td>
          <%= a_team.stable_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_team.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_team.updated_at) %> ago
        </td>

        <td>
          <a href="/teams/<%= a_team.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
