<div>
  <div>
   

    <div>
      <div>
        <a href="/teams">
          Go back
        </a>
      </div>

      

   

    <dl>
    <h1>
        <%= @the_team.name %>
      </h1>
      <dt>
        Championships
      </dt>
      <dd>
        <%= @the_team.championships %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_team.bio %>
      </dd>

      <dt>
        Manufacturer
      </dt>
      <dd>
        <%= @the_team.manufacturer.make %>
      </dd>

      
      

      <dt>
        Stable count
      </dt>
      <dd>
        <%= @the_team.stable_count %>
      </dd>
      <dd>
        <% @the_team.stable.each do |thename| %>
           <ul><a href="/drivers/<%= thename.id %>">
           
           <%= thename.name %>
           </a>
           </ul>
          <%  end %>
      </dd>

    </dl>
  </div>
</div>

<hr>



