<div>
  <div>
    <h1>
      Pick #<%= @the_pick.id %> details
    </h1>

    <div>
      <div>
        <a href="/picks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_pick/<%= @the_pick.id %>">
          Delete pick
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Driver
      </dt>
      <dd>
        <%= @the_pick.driver_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_pick.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pick.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pick.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit pick
    </h2>

    <form action="/modify_pick/<%= @the_pick.id %>"  method="post" >
      <div>
        <label for="driver_id_box">
          Driver
        </label>

        <input type="text" id="driver_id_box" name="query_driver_id" value="<%= @the_pick.driver_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_pick.user_id %>">
      </div>

      <button>
        Update pick
      </button>
    </form>
  </div>
</div>

<hr>
