<div>
<a href="/teams">
Teams
</a>
</div>
<div>
<a href="/picks">
My lineup
</a>
</div>


<div>
  <div>
    <h1>
      List of all drivers
    </h1>
  </div>
</div>

<hr>



<hr>
<div>
  <div>
    <table>
      <tr>
         <th>
          Driver number
         </th>
         <th>
          Number photo
        </th>
        <th>
          Name
        </th>

        

        

        <th>
          Tier
        </th>

        <th>
          Team
        </th>

       

        <th>
          Manufacturer
        </th>

        

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_drivers.each do |a_driver| %>
      <tr>
         <td>
          <%= a_driver.driver_number %>
        </td>
        <td>
          <img src="<%= a_driver.number_photo %>" style="width:100px;height:100px;">
        </td>
        <td>
          <%= a_driver.name %>
        </td>

        

       

        <td>
          <%= a_driver.tier %>
        </td>

        <td>
          <%= a_driver.team.name %>
        </td>

        <td>
          <%= a_driver.manufacturer.make %>
        </td>

       

        <td>
          <%= time_ago_in_words(a_driver.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_driver.updated_at) %> ago
        </td>

        <td>
          <a href="/drivers/<%= a_driver.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
