<div>
<a href="/teams">
Teams
</a>
</div>
<div>
<a href="/picks">
My lineup
</a>
</div>
<hr>
<div>
<% if @current_user == nil %>
<div>
You must create an account and log in to create your NASCAR dream team! Otherwise,
feel free to surf the 2020 NASCAR Cup Series driver and team profiles.
</div>

<% else %>
<div>
The drivers are separated into three tiers. Tier 1 drivers are always contending to win,
tier 2 drivers are usually in the midfield, and tier 3 drivers are perennial
backmarkers! You are allowed to pick THREE tier 1 drivers,
TWO tier 2 drivers, and TWO tier 3 drivers to create your ultimate team. Once you've
created your team, see how it compares to other users' squads!
</div>
</div>

<% end %>



<div>
  <div>
    <h1>
      List of all drivers
    </h1>
  </div>
</div>

<hr>



<hr>
<div>
  <div>
    <table>
      <tr>
         <th>
          Driver number
         </th>
         
        <th>
          Name
        </th>

        

        

        <th>
          Tier
        </th>

        <th>
          Team
        </th>

       

        <th>
          Manufacturer
        </th>

        

        

        <th>
        </th>
      </tr>

      <% @list_of_drivers.each do |a_driver| %>
      <tr>
        
        <td>
          <img src="<%= a_driver.number_photo %>" style="width:100px;height:100px;">
        </td>
        <td>
          <%= a_driver.name %>
        </td>

        

       

        <td>
          <%= a_driver.tier %>
        </td>

        <td>
        
         <a href="/teams/<%= a_driver.team.id %>">
         
         <%= a_driver.team.name %>
         </a>
        </td>

        <td>
          <%= a_driver.manufacturer.make %>
        </td>

       

        

        <td>
          <a href="/drivers/<%= a_driver.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
