<div>
  <div>
    <h1>
      Driver #<%= @the_driver.id %> details
    </h1>

    <% matching_picks = Pick.where({ :user_id => @current_user.id }).where({ :driver_id => @the_driver.id }) %>
    <% the_pick = matching_picks.first %>

    <% if the_pick == nil %>

    <form action="/insert_pick" method="post">
      <input type="hidden" name="query_driver_id" value="<%= @the_driver.id %>">

      <button>Pick this driver</button>
    </form>

    <% else %>
    <a href="/delete_pick/<%= the_pick.id %>">
    Un-pick
    </a>

    <% end %>

    <div>
      <div>
        <a href="/drivers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_driver/<%= @the_driver.id %>">
          Delete driver
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_driver.name %>
      </dd>

      <dt>
        Driver photo
      </dt>
      <dd>
        <%= @the_driver.driver_photo %>
      </dd>

      <dt>
        Driver number
      </dt>
      <dd>
        <%= @the_driver.driver_number %>
      </dd>

      <dt>
        Tier
      </dt>
      <dd>
        <%= @the_driver.tier %>
      </dd>

      <dt>
        Team
      </dt>
      <dd>
        <%= @the_driver.team_id %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_driver.bio %>
      </dd>

      <dt>
        Crew chief
      </dt>
      <dd>
        <%= @the_driver.crew_chief %>
      </dd>

      <dt>
        Manufacturer
      </dt>
      <dd>
        <%= @the_driver.manufacturer_id %>
      </dd>

      <dt>
        Number photo
      </dt>
      <dd>
        <%= @the_driver.number_photo %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_driver.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_driver.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit driver
    </h2>

    <form action="/modify_driver/<%= @the_driver.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_driver.name %>">
      </div>

      <div>
        <label for="driver_photo_box">
          Driver photo
        </label>

        <input type="text" id="driver_photo_box" name="query_driver_photo" value="<%= @the_driver.driver_photo %>">
      </div>

      <div>
        <label for="driver_number_box">
          Driver number
        </label>

        <input type="text" id="driver_number_box" name="query_driver_number" value="<%= @the_driver.driver_number %>">
      </div>

      <div>
        <label for="tier_box">
          Tier
        </label>

        <input type="text" id="tier_box" name="query_tier" value="<%= @the_driver.tier %>">
      </div>

      <div>
        <label for="team_id_box">
          Team
        </label>

        <input type="text" id="team_id_box" name="query_team_id" value="<%= @the_driver.team_id %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <input type="text" id="bio_box" name="query_bio" value="<%= @the_driver.bio %>">
      </div>

      <div>
        <label for="crew_chief_box">
          Crew chief
        </label>

        <input type="text" id="crew_chief_box" name="query_crew_chief" value="<%= @the_driver.crew_chief %>">
      </div>

      <div>
        <label for="manufacturer_id_box">
          Manufacturer
        </label>

        <input type="text" id="manufacturer_id_box" name="query_manufacturer_id" value="<%= @the_driver.manufacturer_id %>">
      </div>

      <div>
        <label for="number_photo_box">
          Number photo
        </label>

        <input type="text" id="number_photo_box" name="query_number_photo" value="<%= @the_driver.number_photo %>">
      </div>

      <button>
        Update driver
      </button>
    </form>
  </div>
</div>

<hr>
