<div>
  <div>
   
  <% if @current_user != nil%>
    <% matching_picks = Pick.where({ :user_id => @current_user.id }).where({ :driver_id => @the_driver.id }) 
      the_pick = matching_picks.at(0) 

     if the_pick == nil %>

    <form action="/insert_pick" method="post">
      <input type="hidden" name="query_driver_id" value="<%= @the_driver.id %>">

      <button>Pick this driver</button>
    </form>

    <% else %>
    <a href="/delete_pick/<%= the_pick.id %>">
    Un-pick
    </a>

    <% end %>
    <% end %>

    <div>
      <div>
        <a href="/drivers">
          Go back
        </a>
      </div>

     

    <dl>
      
      <h1>
        <%= @the_driver.name %>
      </h1>
      <dd>
        <img src="<%= @the_driver.number_photo %>" style="width:100px;height:100px;">
      </dd>

      <dd>
        <img src ="<%= @the_driver.driver_photo %>">
      </dd>


      <dt>
        Tier
      </dt>
      <dd>
        <%= @the_driver.tier %>
      </dd>

      <dt>
        Team
      </dt>
      <dd>
      <a href="/teams/<%= @the_driver.team.id %>">
        <%= @the_driver.team.name %>
        </a>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_driver.bio %>
      </dd>

      <dt>
        Crew chief
      </dt>
      <dd>
        <%= @the_driver.crew_chief %>
      </dd>

      <dt>
        Manufacturer
      </dt>
      <dd>
        <%= @the_driver.manufacturer.make %>
      </dd>

     
    </dl>
  </div>
</div>

<hr>





